.form-solicitacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 0 2rem 0;
    margin: 2rem 0 0 0 ;
    background-color: #002F41;
}

form{
    width: 90%;
    margin: 0;
    padding: 0;
}

.input-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    padding: 0;
    margin: 0;
}

.btnSolicita{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30rem;
    margin: 0 1rem;
    padding: 0;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 16px;
}

.priority-group{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.genero-group{
    width: 19rem;
    margin: 0;
    padding: 0;
}

.inputs-generos{
    display: flex;
}

.input-box,
.input-box-name,
.input-mediumbox,
.input-smallbox
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 .7rem;
}

.input-box-name input,
.input-box input,
.input-box select,
.input-mediumbox input,
.input-smallbox input
{
    margin: 0.4rem 0;
    padding: 0.3rem 1.2rem;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 18px;
}

.input-box-name input{
    width: 20rem;
}

.input-box input{
    width: 10rem;
}

.input-mediumbox input{
    width: 6rem;
}

.input-smallbox input{
    width: 3rem;
}

.input-box textarea{
    width: 80%;
    margin: 0 0 2rem 0;
    padding: 0.3rem 1.2rem;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 16px;
}

.priority-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.input-priority, .input-genero{
    margin: 0.4rem 0;
    padding: 0.3rem 1.2rem;
    font-size: 18px;
    width: 100%;
}

.input-priority input[type=radio], .input-genero input[type=radio]  {
    border: 0;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.input-priority label, .input-genero label{
    padding: 0 1rem;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-smallbox input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #e1e0ed;
}

.input-smallbox input:focus-visible{
    outline: 1px solid #e1e0ed;
}


.input-box label,
.input-smallbox label,
.input-genero input,
.gender-title h6{
    font-size: 1.05rem;
    font-weight: 600;
    color: #ffffff;
}

.btnSolicita{
    width: 100%;
    display: flex;
    justify-content:right;
    align-items: center;
}




