.cadastro_formRdit{
    display:flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 90vw;
    height: 50vh;
}

.inputsFormEdit{
    display: flex;
    flex-direction: column;
    width: 45vw;
}