
.principal{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/ExactaPatho.jpg');
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto{
    width: 50%;
    height: 100vh;
    border: 1px solid black;
    -padding-top: 10rem;
    -margin-left: 60%;
    margin-right: 0;
    font-family: 'Khand', sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #3b3495;
    text-shadow: white 2px 3px;
}

